$bee_yellow: #e99a00;
$bee_gray: #cbc8c3;

@mixin gradient($color1, $color2) {
	background-color: $color1; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color2), to($color1));
	background-image: -webkit-linear-gradient(top, $color2, $color1); 
	background-image:    -moz-linear-gradient(top, $color2, $color1);
	background-image:     -ms-linear-gradient(top, $color2, $color1);
	background-image:      -o-linear-gradient(top, $color2, $color1);
}

@mixin centred() {
	max-width: 1140px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

@mixin menu_style() {
	height: 37px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding-top: 13px;
}

html {
	overflow-y: scroll; 
}

body {
	background-color: #e2dfd9;
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: arial;
	min-width: 340px;
}

header {
	@include centred();
	height: 125px;
}

nav[role=mobile] {
	display: none;
}

nav[role=desktop] {
	width: 100%;
	height: 50px;
	@include gradient($bee_yellow, lighten($bee_yellow, 20%));
	ul {
		@include centred();
		height: 50px;
		padding: 0px;
		margin-top: 0px;
		display: block;

		li.menu {
			@include menu_style();
			width: 14%;
			display: block;
			float: left;
			border-right: 1px solid lighten($bee_yellow, 30%);
			cursor: pointer;
		}
		li:hover {
			background-color: lighten($bee_yellow, 10%);
		}
		li.selected {
			background-color: lighten($bee_yellow, 5%);
		}
		li.social {
			width: 50px;
			height: 50px;
			display: block;
			float: right;

			img {
				border: none;
			}
		}

		li:first-child {
			border-left: 1px solid lighten($bee_yellow, 30%);	
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}

section[role=hero_image] {
	width: 100%;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/hero_4.jpg");
	background-size: 1920px;
	box-shadow: inset 5px 5px 20px black;
	border-bottom: 10px solid $bee_yellow;

	ul {
		display: none;
	}
}

footer {
	@include centred();
	border-top: 10px solid #cbc8c3;
	padding-top: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

section[role=content] {
	@include centred();
	overflow: auto;

	.left_coloumn, .right_coloumn {	
		float: left;	
		img, .half_width {max-width: 100%}
	}
	.left_coloumn { width: 50% }
	.right_coloumn {
		width: 45%;
		padding-left: 5%;
		padding-top: 75px;
		.half_width { max-width: 60%; float: right; }
	}


	a.cta {
		display: block;
		@include gradient($bee_yellow, lighten($bee_yellow, 20%));
		width: 75%;
		padding: 2%;
		margin-top: 10px;
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 20px;
		color: white;
		text-align: center;
		cursor: pointer;
	}

	#lightbox {
		display: none;
		opacity: 0;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: black;

		p {
			color: white;
			margin: 0px;
		}
		p.title {
			font-size: 1.5em;
			font-weight: bold;
			color: $bee_yellow;
			margin: 0px;
		}
		img {
			max-width: 90%;
		}

		.arrow-left, .arrow-right, .close {
			position: fixed;
			font-size: 48px;
			color: white;
			z-index: 2;
			cursor: pointer;			
		}
		.arrow-left {
			top: 230px;
			left: 5%;
		}
		.arrow-right {
			top: 230px;
			right: 5%;
		}
		.close {
			top: 20px;
			right: 5%;
			font-size: 24px;
		}
	}
}